{% load static %}
<html lang="en">

  <head>
      {% include 'partials/head.html' %}
  </head>
  <body>
    <div  id="site-wrap" >
        {% include 'partials/nav.html' %}

        {% if messages %}
        <ul class="messages" id="messageModal">
          <!-- <li>sdkoeo</li> -->
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <!-- dkijfirifirfnrnfn  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum quos nemo consectetur ipsa. Non autem incidunt dolores fugit iste. Ut consequatur numquam dolorum officiis non minima culpa eos asperiores aperiam. -->
            {{ message }}</li>
            {% endfor %}

          <i class="fas fa-times" id="closeModal" ></i>

        </ul>
        {% endif %}

      
        

           
      {% block mainContent %}
        
      {% endblock mainContent %}



      {% include 'partials/footer.html' %}

      
        </div> 
        <script src="{% static 'js/scripts-all.js' %}"></script>
        <script src="{%  static 'js/main.js' %}"></script>
      
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script> -->
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'UA-23581568-13');


        
        </script>
        
      
        <script>
          const messageModal= document.querySelector('#messageModal');
          const closeModal = document.querySelector('#closeModal')

          closeModal.addEventListener('click',e=>{

            messageModal.style.display='none'
          })
        </script>
        {% block extraJS %}
          
        {% endblock extraJS %}
      </body>

        
       
          
      
      </html>
    
</body>
</html>