{% extends './base.html' %}
{% load static %}





      {% include 'partials/nav.html' %}

      
      {% block mainContent %}
        
      <div class="templateux-cover" style="background-image: url({% static 'images/blackPixel.jpeg' %});">
        <div class="container">
        <div class="row align-items-lg-center">
        <div class="col-lg-7 order-lg-1">
        <h1 class="heading mb-3 text-white" >
          We Are Your Partners in
           <strong> building an excellent Business in the structure and performance </strong>
        </h1>
        <!-- <p class="lead mb-5 text-white">
          To build operationally excellent businesses both in structure and in performance by the application of proven management principles, techniques, and technology
        </p> -->
        <!-- <p ><a href="#" class="btn btn-primary py-3 px-4 mr-3">Get Started</a> <a href="#" class="text-white">Learn More</a></p> -->
        </div>
        </div>
        </div>
        </div> 
        <div class="templateux-section pt-0 pb-0">
        <div class="container">
        <div class="row">
        <div class="col-md-12 templateux-overlap">
        <div class="row">
        <div class="col-md-4">
        <div class="media block-icon-1 d-block text-left">
        <div class="icon mb-3">
          <i class="fas fa-brain"  style="font-size:3rem;color:#b3976b;"></i>
        <!-- <img src="{% static 'images/flaticon/svg/001-consultation.svg' %}" alt="Image" class="img-fluid"> -->
        </div>
        <div class="media-body">
        <h3 class="h5 mb-4">International Market Entry</h3>
        <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> -->
        <!-- <p><a href="#">Learn More</a></p> -->
        </div>
        </div> 
        </div>
        <div class="col-md-4" >
        <div class="media block-icon-1 d-block text-left">
        <div class="icon mb-3">
          <i class="fas fa-briefcase" style="font-size:3rem;color:#b3976b;"></i>
 
        <!-- <img src="{% static 'images/flaticon/svg/002-discussion.svg' %}" alt="Image" class="img-fluid"> -->
        </div>
        <div class="media-body">
        <h3 class="h5 mb-4">Coporate  Strategy</h3>
        <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <p><a href="#">Learn More</a></p> -->
        </div>
        </div> 
        </div>
        <div class="col-md-4" >
        <div class="media block-icon-1 d-block text-left">
        <div class="icon mb-3">
          <i class="fas fa-tasks" style="font-size:3rem;color:#b3976b;"></i>
        <!-- <img src="{% static 'images/flaticon/svg/003-turnover.svg' %}" alt="Image" class="img-fluid"> -->
        </div>
        <div class="media-body">
        <h3 class="h5 mb-4">Buiness Process Management</h3>
        <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <p><a href="#">Learn More</a></p> -->
        </div>
        </div> 
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <!-- <br> -->
    
        <div class="templateux-section bg-light phone_box_spacing" style="margin-bottom:-110px;">
          <div class="container">
          <div class="row ">
          <div class="col-12 text-center ">
          <h2>Our Services</h2>
          </div>
                
                {% for service in  all_service %}
                  <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-delay="400">
                    <div class="media block-icon-1 d-block text-center">
                      <div class="icon mb-3">
                        <i class="{{service.icon_class}}" style="color: #b3976b;"></i>
                        <!-- <img src="{% static 'images/flaticon/svg/004-gear.svg' %}" alt="Image" class="img-fluid"> -->
                      </div>
                      <div class="media-body">
                          <h3 class="h5 mb-4">{{service.title}}</h3>
                            <p>
                                {{service.intro_content}}

                                <a href="{% url 'serviceDetail' service.id  %}">Read More</a>
                            </p>
                      </div>
                    </div> 
                </div>
                {% endfor %}
                  
          </div>
          <div class="row">
          <div class="col-md-12 text-center" >
          <!-- <p><a href="{% url 'our-solutions' %}" class="btn btn-black py-3 px-4">More Features</a></p> -->
          </div>
          </div>
          </div>
          </div> 
    
    

          <div class="templateux-section" style="margin-bottom:-110px;">
            <div class="container">
                <div class="row">
               
                  <!-- <div class="row text-center mb-1"> -->
                    <div class="col-12">
                    <h2>Insight and Research</h2>
                    </div>
                  <!-- </div> -->


{% for  i  in  all_researchInfor %}
<div class="col-md-6 col-lg-4 mb-4">
  <a href="{% url 'researchInsightDetail' i.id %}" class="block-thumbnail-1 one-whole show-text height-sm" style="background-image:url({{ i.cover_image.url }})" data-aos="fade" data-aos-delay="300">
  <div class="block-thumbnail-content">
  <h2>{{  i.heading }}</h2>
  <span class="" style="color: white;">{{ i.intro_content }}</span>
  </div>
  </a>
</div>

{% endfor %}
  
  
                  
                </div> 
            <!-- <div class="row mt-5">
            <div class="col-md-12 pt-5">
            <ul class="pagination custom-pagination">
            <li class="page-item prev"><a class="page-link" href="#"><i class="icon-keyboard_arrow_left"></i></a></li>
            <li class="page-item active"><a class="page-linkx href=" #">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item next"><a class="page-link" href="#"><i class="icon-keyboard_arrow_right"></i></a></li>
            </ul>
            </div>
            </div> -->
            </div>
          </div> 



        <div class="templateux-section phone_box_spacing" >
        <div class="container" >
        <div class="row">
        <div class="col-lg-7"data-aos="fade-left" data-aos-delay="400" style="text-align:center;">
          <!-- <h2 class="mb-5">Insight and Research</h2> -->
          <h2 class="">More on SPNS</h2>
        <div class="item" style="text-align:center;">
          <!-- <img src="{% static 'images/slider-1.jpg' %}" alt="Free template by TemplateUX.com" class="img-fluid"> -->
          <p >
            SPNS Consulting provides strategic market research and competitive intelligence services to business-to-business and industrial clients. Some of our strategies include qualitative (face to face interviews, phone interviews, questionnaires) & quantitative methodologies. 
          </p>
          <p>
            Great companies do not just break out overnight, it takes great customer insight and a deep understanding of the industry. With our services (Competitor intelligence, marketing sizing, marketing strategy & insights), we focus on building brands that last-long and meeting our customer needs.
          </p>
          <p>
            This is how we do it, we listen to the voice of your customers, find out what your competitors are doing, analyze the competitive landscape, discover and quantify new market opportunities, determine key decision-drivers and unmet needs, gather insights for product development, and measure your brand equity
          </p>
        </div> 
        </div>
        <div class="col-lg-5 pl-lg-5" data-aos="fade-right" data-aos-delay="400">
        <h2 class="">Why Us?</h2>
        <div class="accordion" id="accordionExample">
        <div class="accordion-item">
        <h2 class="mb-0 rounded mb-2">
          <a >
          <i class="fas fa-chevron-circle-down" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Intensive Research and Development
          </i>
        </a>
        </h2>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="accordion-body">
        <p>
          About 35,045 hours committed to research and development as well as clients' project execution across various sectors of the economy.
           </p>
        </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="mb-0 rounded mb-2">
                <a >
                  <i class= "fas fa-chevron-circle-down" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Top Notch Tools
                  </i>
                </a>
        </h2>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            We apply industry-wide tested consulting tools alongside our in-house developed tools towards the provision of solutions on client’s projects.
          </p> 
       </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="mb-0 rounded mb-2">
        <a  >
          <i class= "fas fa-chevron-circle-down" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

            Business Process & Performance Management
          </i>
        </a>
        </h2>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            Our primary functional practices are; Business Process & Performance Management
          </p>
        </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="mb-0 rounded mb-2">
        
          <a >
            <i  class= "fas fa-chevron-circle-down" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">

              Consulting within a global framework
            </i>
          </a>
        </h2>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="accordion-body">
            <p>
              We are an indigenous consulting firm operating within a global framework. Our practice span across the continent of Africa.
            </p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div> 
    
        </div> 
      
        <!-- <div class="templateux-section phone_box_spacing">
          <div class="container">
          <div class="row text-center mb-1">
            <div class="col-12">
            <h2>Our clientele</h2>
            </div>
          </div>
          <div class="row justify-content-center">
          <div class="col-md-8 testimonial-wrap">
         
          <div class="owl-carousel wide-slider-testimonial">
          <div class="item">
          <blockquote class="block-testomonial">
          <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
          <p><cite>Drew Wilson, CEO and Founder of CoLab</cite></p>
          </blockquote>
          </div>
          <div class="item">
          <blockquote class="block-testomonial">
          <p>&ldquo;When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.&rdquo;</p>
          <p><cite>Craig Smith, CEO and Founder of Slite</cite></p>
          </blockquote>
          </div>
          <div class="item">
          <blockquote class="block-testomonial">
          <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
          <p><cite>Bob Robe, CEO and Founder of Fixer</cite></p>
          </blockquote>
          </div>
          </div>
          </div>
          </div>
          </div> 
          </div>  -->
      
        <div class="templateux-section pb-0 phone_box_spacing">
          <div class="container">
          <div class="row text-center mb-3  mt-1" style="padding-top:1rem;">
          <div class="col-12">
          <h2>Meet the team</h2>
          </div>
          </div>
          <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-4">
            <!-- style="background-image: url({% static 'images/person_1.jpg' %});" -->
          <div class="staff" class="staff-img" style="background-image: url({% static 'db1.jpeg' %});">
              <a href="#" class="desc">
                <h3>Debo Adebayo</h3>
                <span>Chief Executive Officer</span>
                <div class="parag">
                <!-- <p>Even the all-powerful Pointing has no control about the blind texts</p> -->
                </div>
              </a>
          </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4">
            <!--  -->
            <div class="staff" class="staff-img"style="background-image: url({% static 'emma.jpeg' %});" >
                <a href="#" class="desc">
                    <h3>Emmanuel Moses</h3>
                    <span>Director,Project Management Office</span>
                    <div class="parag">
                    <!-- <p>Even the all-powerful Pointing has no control about the blind texts</p> -->
                    </div>
                </a>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4">
            <!-- style="background-image: url({% static 'images/person_3.jpg' %});" -->
          <div   class="staff" class="staff-img" >
          <a href="#" class="desc">
          <h3>SHARON ONYENEKE</h3>
          <span>Project Management Office</span>
          <div class="parag">
          <!-- <p>Even the all-powerful Pointing has no control about the blind texts</p> -->
          </div>
          </a>
          </div>
          </div>
          </div>
          </div>
      </div>
        <!-- <div class="container templateux-section">
        <div class="row">
        <div class="col-12 col-md-7 mx-auto text-center mb-5">
        <h2>Our Blog</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit reiciendis dolore, facilis ipsam officiis quasi?</p>
        </div>
        </div>
        <div class="d-flex flex-sm-row">
        <a href="#" class="block-thumbnail-1 one-third" style="background-image: url('images/slider-2.jpg'); " data-aos="fade">
        <div class="block-thumbnail-content">
        <h2>When she reached the first</h2>
        <span class="post-meta">June 18, 2020 &bullet; by Admin</span>
        </div>
        </a>
        <a href="#" class="block-thumbnail-1 two-third" style="background-image: url('images/slider-1.jpg'); " data-aos="fade" data-aos-delay="100">
        <div class="block-thumbnail-content">
        <h2>Duden flows by their place</h2>
        <span class="post-meta">July 17, 2020 &bullet; by Admin</span>
        </div>
        </a>
        </div>
        <div class="d-flex flex-column flex-sm-row">
        <a href="#" class="block-thumbnail-1 two-third" style="background-image: url('images/slider-3.jpg'); " data-aos="fade" data-aos-delay="200">
        <div class="block-thumbnail-content">
        <h2>Italic Mountains</h2>
        <span class="post-meta">March 18, 2020 &bullet; by Admin</span>
        </div>
        </a>
        <a href="#" class="block-thumbnail-1 one-third" style="background-image: url('images/slider-4.jpg'); " data-aos="fade" data-aos-delay="300">
        <div class="block-thumbnail-content">
        <h2>Behind the word mountains</h2>
        <span class="post-meta">March 22, 2020 &bullet; by Admin</span>
        </div>
        </a>
        </div>
        </div>  -->
    
      </div> 
      {% endblock mainContent %}

