{% extends './base.html' %}
{% load static %}





      {% include 'partials/nav.html' %}

      
      {% block mainContent %}
      <div class="templateux-cover" style="background-image:url({{ object.cover_image.url }});background-size: contain;" >
        <div class="container">
        <div class="row align-items-lg-center">
        <div class="col-lg-10 order-lg-1 text-center mx-auto">
        <h1 class="heading text-white" data-aos="fade-up"></h1>
        <!-- <p class="lead mb-5 text-white" data-aos="fade-up" data-aos-delay="100">July 3, 2018 &bullet; by <a href="#" class="text-white">John Smith</a></p> -->
        </div>
        </div>
        </div>
        </div> 

        <div id="blog" class="templateux-section"  style="margin-top:-80px;margin-bottom:-80px;">
            <div class="container">
            <div class="row">
            <div class="col-md-12">
            <h2 class="mb-3">{{ object.heading }}</h2>
            <!-- <p><img src="images/xhero_1.jpg.pagespeed.ic.VHe6q11AK_.jpg" alt="" class="img-fluid"></p> -->
            
            {% for i in  object_para  %}
                <p>{{ i.paragraph }}</p>
            {% endfor %}
                
            </div> 
           
            <div class="form-group">
                <input type="submit" value="Download complete Pdf" id="dbFormInfoBtn" class="btn py-3 px-4 btn-primary">
                </div>

            <div class="comment-form-wrap pt-5"  id="dbFormInfo" style="display: none;margin-bottom:-110px;">
                <h3 class="">Fill the info below to danload the pdf</h3>
                <form method="post" action="{% url 'researchInsightDetail' object.id %}" class="p-5 bg-light">
                    {% csrf_token %}
                <div class="form-group">
                <label for="name">Name *</label>
                <input type="text" class="form-control" id="name"  name="name"  required>
                </div>
                <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" class="form-control" id="email"  name="email"  required>
                </div>
                <div class="form-group">
                <label for="Location">Location</label>
                <input type="text" class="form-control" id="Location"  name="Location"  required>
                </div>

                <div class="form-group">
                    <label for="Company">Company</label>
                    <input type="text" class="form-control" id="Company"  name="company"  required>
                </div>

                <div class="form-group">
                    <label for="job">Job title</label>
                    <input type="text" class="form-control" id="job-title"   name="job-title"  required>
                </div>


                <div class="form-group">
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30"  rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                </div>
                </form>
                </div>



            </div>
            </div>
            </div>


           
      {% endblock mainContent %}



      {% block extraJS %}
      <script>
        let dbFormInfoBtn = document.querySelector("#dbFormInfoBtn")
        let dbFormInfo = document.querySelector("#dbFormInfo")
        dbFormInfoBtn.addEventListener("click",e=>{
        
            console.log("Click")
            dbFormInfo.style.display='block'
        })
        console.log("Click")

    </script>
        {% endblock extraJS %}