{% extends './base.html' %}
{% load static %}

      {% include 'partials/nav.html' %}

      
      {% block mainContent %}


      <div class="templateux-cover" style="background-image:url({% static 'images/xhero_1.jpg.pagespeed.ic.VHe6q11AK_.jpg' %})">
        <div class="container">
        <div class="row align-items-lg-center">
        <div class="col-lg-6 order-lg-1 text-center mx-auto">
        <h1 class="heading mb-3 text-white" data-aos="fade-up">Insight and Research</h1>
        <p class="lead mb-5 text-white" data-aos="fade-up" data-aos-delay="100">
          Our quest is to continue to add value to the businesses of our clients. Our stakeholders have seen us emerge as a pacesetter and industry leader in these major areas and this is evident in our array of works and the introduction of programs that help clients achieve successful customer outcomes. 
        
        </p>
        <!-- <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-primary py-3 px-4 mr-3">Get Started</a> <a href="#" class="text-white">Learn More</a></p> -->
        </div>
        </div>
        </div>
        </div> 
        <br>

            
        

        
    
        <div class="templateux-section phone_box_spacing">
            <div class="container" >
            <div class="row">
            <div class="col-lg-7"data-aos="fade-up" data-aos-delay="200">
            <h2 class="mb-5">Insight and Research</h2>
            <div class="item">
              <!-- <img src="{% static 'images/slider-1.jpg' %}" alt="Free template by TemplateUX.com" class="img-fluid"> -->
              <p>
                SPNSConsultingprovidesstrategicmarketresearchandcompetitive intelligence services to business-to-business and industrial clients. Some of our strategies include qualitative (face to face interviews, phone interviews, questionnaires) & quantitative methodologies. 
              </p>
              <p>
                Great companies do not just break out overnight, it takes great customer insight and a deep understanding of the industry. With our services (Competitor intelligence, marketing sizing, marketing strategy & insights), we focus on building brands that last-long and meeting our customer needs.
              </p>
              <p>
                This is how we do it, we listen to the voice of your customers, find out what your competitors are doing, analyze the competitive landscape, discover and quantify new market opportunities, determine key decision-drivers and unmet needs, gather insights for product development, and measure your brand equity
              </p>
            </div> 
            </div>
            <div class="col-lg-5 pl-lg-5" data-aos="fade-up" data-aos-delay="200">
            <h2 class="mb-5">Why Us?</h2>
            <div class="accordion" id="accordionExample">
            <div class="accordion-item">
            <h2 class="mb-0 rounded mb-2">
              <a >
              <i class="fas fa-chevron-circle-down" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               Intensive Research and Development
              </i>
            </a>
            </h2>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="accordion-body">
            <p>
              About 35,045 hours committed to research and development as well as clients' project execution across various sectors of the economy.
               </p>
            </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="mb-0 rounded mb-2">
                    <a >
                      <i class= "fas fa-chevron-circle-down" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Top Notch Tools
                      </i>
                    </a>
            </h2>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                We apply industry-wide tested consulting tools alongside our in-house developed tools towards the provision of solutions on client’s projects.
              </p> 
           </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="mb-0 rounded mb-2">
            <a  >
              <i class= "fas fa-chevron-circle-down" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    
                Business Process & Performance Management
              </i>
            </a>
            </h2>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Our primary functional practices are; Business Process & Performance Management
              </p>
            </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="mb-0 rounded mb-2">
            
              <a >
                <i  class= "fas fa-chevron-circle-down" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    
                  Consulting within a global framework
                </i>
              </a>
            </h2>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                  We are an indigenous consulting firm operating within a global framework. Our practice span across the continent of Africa.
                </p>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div> 
        
            </div> 
      



            <div class="templateux-section pb-0 phone_box_spacing">
                <div class="container">
                <div class="row text-center mb-3  mt-1" style="padding-top:1rem;">
                <div class="col-12">
                <h2>Meet the team</h2>
                </div>
                </div>
                <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                <div class="staff" class="staff-img" style="background-image: url({% static 'images/person_1.jpg' %});">
                  <a href="#" class="desc">
                  <h3>Debo Adebayo</h3>
                  <span>Chief Executive Officer</span>
                  <div class="parag">
                  <p>Even the all-powerful Pointing has no control about the blind texts</p>
                  </div>
                  </a>
                </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                <div class="staff" class="staff-img" style="background-image: url({% static 'images/person_2.jpg' %});">
                <a href="#" class="desc">
                <h3>Damilola Williams</h3>
                <span>Ag. Chief operating Officer</span>
                <div class="parag">
                <p>Even the all-powerful Pointing has no control about the blind texts</p>
                </div>
                </a>
                </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                <div class="staff" class="staff-img" style="background-image: url({% static 'images/person_3.jpg' %});">
                <a href="#" class="desc">
                <h3>Ahmed Raifu</h3>
                <span>Head,Project Management Office</span>
                <div class="parag">
                <p>Even the all-powerful Pointing has no control about the blind texts</p>
                </div>
                </a>
                </div>
                </div>
                </div>
                </div>
            </div>
        
    
      
      
      {% endblock mainContent %}

