{% extends './base.html' %}
{% load static %}

      {% include 'partials/nav.html' %}

      
      {% block mainContent %}

      <div class="templateux-cover" style="background-image:url({% static 'images/xhero_1.jpg.pagespeed.ic.VHe6q11AK_.jpg' %})">
        <div class="container">
        <div class="row align-items-lg-center">
        <div class="col-lg-6 order-lg-1 text-center mx-auto">
        <h1 class="heading mb-3 text-white" data-aos="fade-up">Our Solutions</h1>
        <!-- <p class="lead mb-5 text-white" >Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
        <!-- <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-primary py-3 px-4 mr-3">Get Started</a> <a href="#" class="text-white">Learn More</a></p> -->
        </div>
        </div>
        </div>
        </div> 



        <div class="templateux-section bg-light phone_box_spacing">
          <div class="container">
          <div class="row mb-5">
          <div class="col-12 text-center mb-5">
          <h2>Our Services</h2>
          </div>
                <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-delay="400">
                    <div class="media block-icon-1 d-block text-center">
                      <div class="icon mb-3">
                        <img src="{% static 'images/flaticon/svg/004-gear.svg' %}" alt="Image" class="img-fluid">
                      </div>
                      <div class="media-body">
                          <h3 class="h5 mb-4">PROCESS DOCUMENTATION (SOP GENERATION)</h3>
                            <p>
                              Considering the fact that Process documentation is the creation of an operational roadmap .. <a href="">Read More</a> 
                              <!-- identify the current state of a process to know how you can improve it. Any task that is done more than once or completed by multiple people needs to be documented. -->
                            </p>
                      </div>
                    </div> 
                </div>
                <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-delay="401">
                <div class="media block-icon-1 d-block text-center">
                <div class="icon mb-3">
                <img src="{% static 'images/flaticon/svg/005-conflict.svg' %}" alt="Image" class="img-fluid">
                </div>
                <div class="media-body">
                <h3 class="h5 mb-4">PROCESS IMPROVEMENT</h3>
            
                <p>
                  Considering the fact that Process documentation is the creation of an operational roadmap .. <a href="">Read More</a> 
                  <!-- identify the current state of a process to know how you can improve it. Any task that is done more than once or completed by multiple people needs to be documented. -->
                </p>
              </div>
                </div> 
                </div>
              <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-delay="500">
              <div class="media block-icon-1 d-block text-center">
              <div class="icon mb-3">
              <img src="{% static 'images/flaticon/svg/006-meeting.svg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="media-body">
              <h3 class="h5 mb-4">Process Automation</h3>
              <p>
                Considering the fact that Process documentation is the creation of an operational roadmap .. <a href="">Read More</a> 
                <!-- identify the current state of a process to know how you can improve it. Any task that is done more than once or completed by multiple people needs to be documented. -->
              </p>
              </div>
              </div> 
              </div>
              <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-delay="600">
              <div class="media block-icon-1 d-block text-center">
              <div class="icon mb-3">
              <img src="{% static 'images/flaticon/svg/007-brainstorming.svg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="media-body">
              <h3 class="h5 mb-4">Process Outsourcing</h3>
              <p>
                Considering the fact that Process documentation is the creation of an operational roadmap .. <a href="">Read More</a> 
                <!-- identify the current state of a process to know how you can improve it. Any task that is done more than once or completed by multiple people needs to be documented. -->
              </p>
              </div>
              </div> 
              </div>
          <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-delay="400">
          <div class="media block-icon-1 d-block text-center">
          <div class="icon mb-3">
          <img src="{% static  'images/flaticon/svg/001-consultation.svg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="media-body">
          <h3 class="h5 mb-4">Process Outsourcing</h3>
          <p>
            Considering the fact that Process documentation is the creation of an operational roadmap .. <a href="">Read More</a> 
            <!-- identify the current state of a process to know how you can improve it. Any task that is done more than once or completed by multiple people needs to be documented. -->
          </p>
        </div>
          </div> 
          </div>
          <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-delay="600">
          <div class="media block-icon-1 d-block text-center">
          <div class="icon mb-3">
          <img src="{% static 'images/flaticon/svg/009-brainstorming-2.svg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="media-body">
          <h3 class="h5 mb-4">Service Quality Monitoring</h3>
          <p>
            Considering the fact that Process documentation is the creation of an operational roadmap .. <a href="">Read More</a> 
            <!-- identify the current state of a process to know how you can improve it. Any task that is done more than once or completed by multiple people needs to be documented. -->
          </p>

          </div>
          </div> 
          </div>
          </div>
          <div class="row">
          <div class="col-md-12 text-center" >
          <!-- <p><a href="{% url 'our-solutions' %}" class="btn btn-black py-3 px-4">More Features</a></p> -->
          </div>
          </div>
          </div>
          </div> 
        
        
      
      {% endblock mainContent %}

