{% load static %}
        <footer class="templateux-footer bg-light" style="padding:.9rem 1rem;">
            <div class="container">
                <div class="row mb-0">
                    <div class="col-md-4 pr-md-5">
                        <div class="block-footer-widget">
                            <h3>About</h3>
                            <p>
                                Our quest is to continue to add value to the businesses of our clients. Our stakeholders have seen us emerge as a pacesetter and industry leader in these major areas and this is evident in our array of works and the introduction of programs that help clients achieve successful customer outcomes.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="block-footer-widget">
                                <h3>Learn More</h3>
                                <ul class="list-unstyled">
                                  <li><a href="{% url 'researchInsight' %}">Research and Insight</a></li>
                                  <li><a href="{% url 'our-solutions' %}">Solutions</a></li>
                                  <li><a href="{% url 'contact-us' %}">Contact</a></li>
                                  <!-- <li><a href="#">Sitemap</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                        <div class="block-footer-widget">
                        <h3>Connect With Us</h3>
                        <ul class="list-unstyled block-social">
                            <li><a href="#" class="p-1"><i class="fab fa-twitter" style="color: blue;"></i></a></li>
                            <li><a href="#" class="p-1"><i class="fab fa-youtube" style="color: red;"></i></a></li>
                            <li><a href="#" class="p-1"><i class="fab fa-whatsapp" style="color: green;"></i></a></li>
                        </ul>
                        </div>
                        </div>
                    </div> 
                    </div>
                </div> 
            </div>
          </footer> 